/*@font-face {
   font-family: 'arco_cyrillicregular';
   src: url('./fonts/rco-cyrillic-webfont.woff2') format('woff2'),
        url('./fonts/arco-cyrillic-webfont.woff') format('woff'),
        url('./fonts/arco-cyrillic.otf') format('opentype'), 
        url('./fonts/arco-cyrillic.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}*/

@font-face {
  font-family: "RFDewi";
  src: url(../fonts/RFDewi-Black.woff);
  font-weight: 100;
}

@font-face {
  font-family: "RFDewi";
  src: url(../fonts/RFDewi-Light.woff);
  font-weight: 300;
}

@font-face {
  font-family: "RFDewi";
  src: url(../fonts/RFDewi-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: "RFDewi";
  src: url(../fonts/RFDewi-Semibold.woff);
  font-weight: 500;
}

@font-face {
  font-family: "RFDewi";
  src: url(../fonts/RFDewiExtended-Black.woff);
  font-weight: 900;
}

@font-face {
  font-family: "RFDewi";
  src: url(../fonts/RFDewiExtended-Bold.woff);
  font-weight: 800;
}

* {
  font-family: "RFDewi", serif !important;
  color: #fff;
}

._scale_hover {
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

._scale_hover:hover {
  transform: scale(1.1);
}

.sign {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
}

.networks {
  display: flex;
  align-items: center;
}

.networks a {
  display: block;
}

.networks a:not(:last-child) {
  margin-right: 40px;
}

._container {
  max-width: 1380px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.bg__wrap {
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-copy] {
  cursor: pointer;
}

.copied_modal {
  position: fixed;
  top: 50%;
  color: #000;
  left: 50%;
  z-index: 100;
  background: #fff;
  padding: 10px 30px;
  white-space: nowrap;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
}

.copied_modal._show {
  opacity: 1;
  visibility: visible;
}

.content {
  padding-top: 46px;
  padding-bottom: 93px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 26px;
  border: 1px solid rgba(240, 240, 250, 0.2);
  background: #15002f;
  padding: 14px 28px;
}

.login {
  color: #f0f0fa;
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.left {
  padding: 32px;
  border-radius: 22px;
  background: #1a1a25;
  min-width: 291px;
}

section {
  padding-top: 42px;
}

.menu__icon {
  display: none;
}

.menu__icon._active span {
  -webkit-transform: scale(0) translate(0, -50%);
  transform: scale(0) translate(0, -50%);
}

.menu__icon._active:before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
  transform: rotate(-45deg) translate(0, -50%);
}

.menu__icon._active:after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0, 50%);
  transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 767px) {
  .left {
    padding: 26px;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon:after,
  .menu__icon:before,
  .menu__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .menu__icon:after,
  .menu__icon:before {
    content: "";
  }

  .menu__icon:before {
    top: 0;
  }

  .menu__icon:after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
    transform: scale(1) translate(0, -50%);
  }
}

@media (max-width: 767px) {
  .menu__body {
    display: none;
    /* Элемент полностью отсутствует в разметке */
  }

  .menu__body._active {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 24px;
    padding-top: 24px;
    display: flex;
    /* Элемент появляется в разметке */
    animation: slideIn 0.3s ease forwards;
    /* Анимация появления */
  }

  .menu__body._closing {
    animation: slideOut 0.3s ease forwards;
    /* Анимация скрытия */
  }
}

/* Анимация появления */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Анимация скрытия */
@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@media (min-width: 767px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }

  .menu__list>li {
    padding: 10px 0;
  }
}

@media (max-width: 767px) {
  .menu__list>li {
    margin-bottom: 24px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .menu__list>li>li:last-child {
    margin: 0;
  }
}

.menu__link {
  color: #f0f0fa;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  gap: 12px;
  align-items: center;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__item {
  position: relative;
}

.menu__arrow {
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}

.menu__item._active .menu__arrow {
  transform: rotate(0deg);
}

.menu__status {
  color: #fff;
  text-align: center;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 26px;
  padding: 2.5px 8.5px;
  background: linear-gradient(94deg, #391f72 3.56%, #7814f8 130.21%);
}

.menu__sub-list {
  display: none;
  /* Скрываем подменю по умолчанию */
}

.menu__item._active .menu__sub-list {
  display: flex;
  /* Показываем подменю, если у родителя есть класс _active */
  margin-top: 12px;
  flex-direction: column;
  gap: 12px;
}

.menu__sub-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #f0f0fa;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
}

.menu__sub-link img {
  width: 10px;
}

.overview {
  display: flex;
  gap: 24px;
}

.overview__title {
  color: #f0f0fa;
  text-align: center;
  text-transform: uppercase;
  font-size: 74.054px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.guide,
.upgrade {
  color: #fff;
  display: inline-block;
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 26px;
  padding: 8px 18px;
  background: linear-gradient(94deg, #391f72 3.56%, #7814f8 130.21%);
}

.refresh,
.scan {
  display: inline-block;
  color: #f0f0fa;
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 26px;
  background: rgba(99, 99, 99, 0.5);

  padding: 8px 18px;
}

.right {
  width: 100%;
}

.right__top_left {
  display: flex;
  align-items: center;
  gap: 23px;
}

.right__top {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.right__top_btn {
  display: flex;
  gap: 24px;
}

.info {
  margin-top: 30px;
  border-radius: 22px;
  background: rgba(11, 0, 24, 0.6);
  backdrop-filter: blur(25px);
  padding: 32px;
  display: flex;
  gap: 24px;
}

.info__column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.info__column:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: 24px;
}

.info__column_name {
  color: #f0f0fa;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.info__column_value {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(94deg, #391f72 3.56%, #7814f8 130.21%);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info5 div,
.info2 div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info4,
.info3 {
  gap: 12px;
}

.info2 .info__column_value {
  display: flex;
  gap: 12px;
}

.passed {
  display: inline-block;
  color: #fff;
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding: 8px 18px;
  line-height: normal;
  border-radius: 26px;
  background: linear-gradient(94deg, #391f72 3.56%, #7814f8 130.21%);
}

.info1__wrapper {
  display: flex;
  gap: 12px;
}

.info1__wrapper img {
  width: 24px;
  height: 24px;
}

.project__info {
  display: flex;
  gap: 12px;
}

.project__info_name {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.name {
  color: #f0f0fa;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subname {
  color: #f0f0fa;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ca {
  display: inline-block;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #7814f8;
  border-radius: 26px;
  border: 1px solid #391f72;
  padding: 8px 18px;
}

.supply {
  color: #f0f0fa;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.liquidity {
  border-radius: 22px;
  background: #1a1a25;
  padding: 32px;
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}

.open__liquidity {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.lock__liquidity {
  display: flex;
  gap: 24px;
  align-items: center;
}

.open__liquidity_value {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(94deg, #391f72 3.56%, #7814f8 130.21%);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lock__liquidity_text {
  color: #f0f0fa;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* SHOW ACTIVE TAB */
.tabs-block__block {
  display: none;
}

.tabs-block__block._active {
  display: flex;
  gap: 24px;
}

/* WRAPPER TABS ITEMS */
.tabs-block__nav {
  display: flex;
}

/* TAB ITEM */
.tabs-block__item {
  cursor: pointer;
  position: relative;
  text-align: center;
  padding: 10px;
  color: #f0f0fa;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tabs-block__item:not(:last-child) {
  margin-right: 15px;
}

.tabs-block__item._active {
  border-bottom: 2px solid #391f72;
}

.tabs-block__item._active:before {
  content: "";
  background: #fff;
}

/* TAB BODY */
.tabs-block__body {
  padding: 20px 0 0 0;
}

.tabs-block {
  margin-top: 17px;
}

.tabs__left {
  border-radius: 22px;
  background: #1a1a25;
  padding: 32px;
  flex: 1;
  padding-bottom: 293px;
}

.tabs__right {
  border-radius: 22px;
  background: #1a1a25;
  padding: 32px;
  flex: 1;
}

.tabs__left_buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.tabs__left_button {
  color: #f0f0fa;
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 26px;
  background: rgba(255, 255, 255, 0.5);
  padding: 8px 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.tabs__left_button .circle {
  width: 15px;
  /* Диаметр кружка */
  height: 15px;
  /* Диаметр кружка */
  background-color: #dd653f;
  /* Цвет кружка */
  border-radius: 15px;
  /* Делаем элемент круглым */
}

.circle2 {
  background-color: #ddcd3f !important;
}

.circle3 {
  background-color: #9dc44d !important;
}

.circle4 {
  background-color: #f0f0fa !important;
}

.tabs__left_burn {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 24px;
}

.burn__text {
  color: #f0f0fa;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.no {
  color: #dd653f;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 18px;
  border-radius: 26px;
  border: 1px solid #dd653f;
  display: inline-block;
}

@media (max-width: 1240px) {
  .info {
    flex-direction: column;
  }

  .info__column:not(:last-child) {
    border-right: 0;
    padding-right: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 24px;
  }

  .right__top {
    flex-direction: column;
    align-items: start;
  }
}

@media (max-width: 900px) {
  .tabs-block__block {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .right__top_left {
    flex-direction: column-reverse;
    gap: 0;
    align-items: start;
  }
}

@media (max-width: 768px) {
  .overview {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }

  .overview__title {
    font-size: 48px;
  }

  .liquidity {
    flex-direction: column;
  }

  .open__liquidity {
    padding-right: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 24px;
  }

  .tabs__left {
    padding: 20px;
  }

  .tabs__left_buttons {
    gap: 10px;
  }

  .right__top_btn {
    gap: 16px;
  }
}

[data-anim-on-scroll] {
  transition: all 0.4s ease 0s;
  opacity: 0;
}

[data-anim-on-scroll]._animate {
  opacity: 1;
}

._right_anim_tr {
  transform: translateX(200%);
  transition: transform 0.4s ease-in-out;
}

._left_anim_tr {
  transform: translateX(-200%);
  transition: transform 0.4s ease-in-out;
}

._right_anim_tr._animate,
._left_anim_tr._animate {
  transform: translateX(0%) scale(1);
}

._bottom_anim_tr {
  transform: translateY(200%);
}

._top_anim_tr {
  transform: translateY(-200%);
}

._top_anim_tr._animate,
._bottom_anim_tr._animate {
  transform: translateY(0%);
}

._scale_anim {
  transform: scale(0);
  transition: transform 0.4s ease-in-out;
}

._scale_anim._animate {
  transform: scale(1);
}

.anim {
  animation: anim 3s ease-in-out infinite;
}

@keyframes anim {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

.loop-images .image {
  position: absolute;
  z-index: 1;
  bottom: -100%;
  animation: moveUp 6s linear infinite;
}

.loop-images .right .image {
  right: 0;
}

.loop-images .right .image-4 {
  right: -15%;
  left: auto;
}

@keyframes moveUp {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 100%;
  }
}

.loop-images .image-2 {
  animation-delay: 2s;
  animation: moveUp 7s linear infinite;
}

.loop-images .image-3 {
  animation-delay: 3s;
  animation: moveUp 9s linear infinite;
}

.loop-images .image-4 {
  animation-delay: 6s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-1 {
  animation-delay: 0s;
  animation: moveUp 7s linear infinite;
}

.loop-images .right .image-2 {
  animation-delay: 4s;
  animation: moveUp 9s linear infinite;
}

.loop-images .right .image-3 {
  animation-delay: 7s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-4 {
  animation-delay: 10s;
  animation: moveUp 8s linear infinite;
}

.ca {
  display: flex;
}

.ca span {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabs__left_button._active {
  color: #000;
  background: rgba(255, 255, 255, 0.9);
}

.none {
  display: none !important;
}

.tabs__left_button {
  cursor: pointer;
}

/* Loading modal */
.chat-overlay {
  display: none !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(26, 26, 37, 0.1);
  backdrop-filter: blur(25px);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  padding: 32px 0;
}


.chat-overlay.active {
  display: flex !important;
  opacity: 1;
  transform: scale(1);
}

.chat {
  align-items: center;
  gap: 24px;
  background-size: cover;
  max-width: 327px;
  max-height: 244px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px;
  transform: scale(0.9);
  transition: transform 0.3s ease;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 26px;
  border: 1px solid rgba(240, 240, 250, 0.2);
  background: #272731;
  box-sizing: border-box;
  margin: 0 auto;
}

.loaddd {
  height: 10px;
  border-radius: 5px;
  position: relative;
  background: url(image/rttr.png);
  background-size: 100% 100%;
  width: 100%;
}

.loaddd span {
  background: linear-gradient(94deg, #7814f8 24.67%, #d7dd3f 130.21%);
  border-radius: 5px;
  position: absolute;
  width: 5%;
  z-index: 2;
  height: 100%;
  top: 0;
  left: 0;
  animation: trtr 8s forwards;
}

@keyframes trtr {
  to {
    width: 100%;
  }
}

.cancel {
  color: #7814f8;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 26px;
  border: 1px solid #7814f8;
  padding: 8px 18px;
}

/* Loading modal */

.project__info img {
  height: 58px;
  width: 58px;
  object-fit: contain;
}


.yes,
.no {
  color: #dd653f;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 18px;
  border-radius: 26px;
  border: 1px solid #dd653f;
  display: inline-block;
}


.yes {
  color: #3fdd4f;
  border: 1px solid #3fdd4f;
}


/* tabs */
.tabs__full {
  border-radius: 22px;
  background: #1a1a25;
  padding: 32px;
  flex: 1;
}

.tabs__full_2,
.tabs__full_1 {
  min-height: 300px;
}

/* Table */
:root {
  --table-color: #7814f8;
}

.table {
  max-height: 500px;
  overflow: auto;
  border: var(--table-color) 1px solid;
}

.table__row:not(:last-child),
.table__header {
  border-bottom: var(--table-color) 1px solid;
}

.table__header,
.table__row {
  display: flex;
}

.col-3 {
  padding: 6px 3px;
  width: 33.333%;
  flex: 33.333%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.col-3:not(:last-child) {
  border-right: var(--table-color) 1px solid;
}


/* row data */
.row-data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-data__title {
  margin-right: 5px;
}