@font-face {
   font-family: 'TT Firs Neue Trl';
   src: url('./fonts/TTFirsNeueTrl-Regular.woff2') format('woff2'),
       url('./fonts/TTFirsNeueTrl-Regular.woff') format('woff'),
       url('./fonts/TT Firs Neue Trial Regular.ttf') format('truetype');

   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'TT Firs Neue Trl';
   src: url('./fonts/TTFirsNeueTrl-Thin.woff2') format('woff2'),
       url('./fonts/TTFirsNeueTrl-Thin.woff') format('woff'),
       url('./fonts/TT Firs Neue Trial Thin.ttf') format('truetype');

   font-weight: 100;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'TT Firs Neue Trl';
   src: url('TTFirsNeueTrl-Light.woff2') format('woff2'),
       url('TTFirsNeueTrl-Light.woff') format('woff'),
       url('./fonts/TT Firs Neue Trial Light.ttf') format('truetype');

   font-weight: 300;
   font-style: normal;
   font-display: swap;
}
html {
   scroll-behavior: smooth;
 }
* {
   font-family: 'TT Firs Neue Trl' !important;
   color: #FFF;
}

._scale_hover {
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

._scale_hover:hover {
  transform: scale(1.1);
}

.networks {
  display: flex;
  align-items: center;
}

.networks a {
  display: block;
}

.networks a:not(:last-child) {
  margin-right: 24px;
}

._container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}


.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 4851px;
}

.bg__wrap {
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  object-fit: cover;
}

[data-copy] {
  cursor: pointer;
}

.copied_modal {
  position: fixed;
  top: 50%;
  color: #000;
  left: 50%;
  z-index: 100;
  background: #fff;
  font-family: "Knewave", system-ui;
  padding: 10px 30px;
  white-space: nowrap;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
}

.copied_modal._show {
  opacity: 1;
  visibility: visible;
}

.content {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header {
   width: 100%;
   display: flex;
   padding: 8px;
   justify-content: center;
   border-right: 1.5px solid rgba(255, 255, 255, 0.15);
border-bottom: 1.5px solid rgba(255, 255, 255, 0.15);
border-left: 1.5px solid rgba(255, 255, 255, 0.15);
background: radial-gradient(66.03% 239.66% at 46.6% 239.66%, #F8744C 0%, rgba(11, 20, 49, 0.00) 100%), rgba(115, 115, 115, 0.30);
box-shadow: 0px 0px 30px 0px rgba(50, 31, 13, 0.30);
backdrop-filter: blur(25px);
}

.ca {
   padding: 12px 24px;
   border-radius: 40px;
border: 1px solid #F8744C;
background: #F8744C;
box-shadow: -2px 0px 6px 0px rgba(255, 255, 255, 0.20), 0px 2.155px 97.29px 0px rgba(248, 116, 76, 0.54);
backdrop-filter: blur(25px);
margin: 0 24px;
color: #FFF;
font-family: "TT Firs Neue";
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.header__left a {
   color: #FFF;
font-family: "TT Firs Neue";
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
}




.info {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 60px;
}

.info__text {
   max-width: 630px;
   color: #FFF;
text-align: center;
font-family: "TT Firs Neue";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.6;
}

.info__image {
   margin-top: 28px;
   margin-bottom: 21px;
}

.launch {
   margin-top: 66px;
margin-bottom: 43px;
}








.cases {
   padding-top: 20px;
   width: 90%;
}

.cases__top {
   display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;
}

.cases__title {
   color: #FFF;
font-family: "TT Firs Neue";
font-size: 80px;
font-style: normal;
font-weight: 450;
line-height: 102.529%; /* 82.023px */
letter-spacing: -5.6px;
max-width: 802px;
}

.vision {
   color: #FFF;
text-align: right;
font-family: "TT Firs Neue";
font-size: 32px;
font-style: normal;
font-weight: 450;
line-height: 102.529%; /* 32.809px */
letter-spacing: -2.24px;
opacity: 0.7;
}

.cases__right {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.use_cases {
   position: relative;
   margin-top: 56px;

}

.use_cases button {
   color: #FFF;
font-family: "TT Firs Neue";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 12px 24px;
border-radius: 40px;
border: 1px solid #FFF;
}

.cases__cards {
   display: flex;
   flex-direction: column;
   align-items: center;
}





.cards {
   display: flex;
   gap: 95px;
}

.card {
   position: relative;
   padding: 32px;
   border-radius: 24px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: radial-gradient(153.39% 129.05% at 134.43% 141.81%, #DDCBFF 0%, rgba(11, 20, 49, 0.00) 100%), radial-gradient(114.33% 117.87% at -26.54% 142.44%, #F8744C 0%, rgba(11, 20, 49, 0.00) 100%), rgba(115, 115, 115, 0.30);
backdrop-filter: blur(25px);
max-height: 370px;
}

.card__icon {
   top: -60px;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

.card__video {
   max-width: 290px;
   width: 100%;
   height: 163px;
   border-radius: 5.932px;
   object-fit: cover;
   margin: 0 auto;
   display: block;
   background: #FFF;
}

.card__title {
   color: #FFF;
font-family: "TT Firs Neue";
font-size: 28px;
font-style: normal;
font-weight: 450;
line-height: 102.529%; /* 28.708px */
letter-spacing: -1.96px;
}

.card__text {
   color: #FFF;
font-family: "TT Firs Neue";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 102.529%; /* 18.455px */
letter-spacing: -0.72px;
margin: 20px 0;
max-width: 290px;
}

.first-card {
   margin-top: -110px;
   margin-left: 30px;
}

.second-card {
   text-align: center;
   max-height: 405px;
margin-left: 30px;
}

.third-card {
   text-align: right;
   margin-top: -100px;
margin-right: 40px;

}

.third-card .card__text {
   max-width: 311px;
}

.try {
   padding-top: 71px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

.try__title {
   color: #FFF;
text-align: center;
font-family: "TT Firs Neue";
font-size: 158.653px;
font-style: normal;
font-weight: 450;
line-height: 80%; /* 126.922px */
letter-spacing: -11.106px;
margin-top: 10px;
}

.try__title span {
   font-style: italic;
}


.chat {
   width: 100%;
   max-width: 95vw;
   margin-top: 43px;
   padding: 20px;
   display: flex;
   gap: 20px;
   flex-direction: column;
   align-items: center;
   border-radius: 42px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: radial-gradient(106.46% 107.18% at 63.96% 155.77%, #DDCBFF 0%, rgba(11, 20, 49, 0.00) 100%), radial-gradient(114.33% 117.87% at -26.54% 142.44%, #F8744C 0%, rgba(11, 20, 49, 0.00) 100%), #000;
backdrop-filter: blur(25px);
}

.chat__result {
   border-radius: 42px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: radial-gradient(106.46% 107.18% at 63.96% 155.77%, #DDCBFF 0%, rgba(11, 20, 49, 0.00) 100%), radial-gradient(114.33% 117.87% at -26.54% 142.44%, #F8744C 0%, rgba(11, 20, 49, 0.00) 100%), #000;
backdrop-filter: blur(25px);
width: 100%;
display: flex;
align-items: center;
justify-content: center;
min-height: 650px;
}

.chat__image {
   max-width: 100%;
   min-height: 150px;
}

.start {
   width: 100%;
}

.analyzing {
   margin-left: 150px;
}

.analyzing__text {
   color: #FFF;
text-align: center;
font-family: "TT Firs Neue";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: inline-block;
}

@keyframes dots {
   0% {
       content: "";
   }
   25% {
       content: ".";
   }
   50% {
       content: "..";
   }
   75% {
       content: "...";
   }
   100% {
       content: "";
   }
}

.analyzing__text::after {
   content: "";
   animation: dots 1.5s infinite steps(1);
}


.relative {
   max-width: max-content;
   position: relative;
}

.form {
   width: 100%;
   border-radius: 42px;
border: 1px solid rgba(255, 255, 255, 0.15);
background: rgba(115, 115, 115, 0.30);
box-shadow: 0px 0px 30px 0px rgba(50, 31, 13, 0.30);
backdrop-filter: blur(25px);
padding: 20px;
display: flex;
align-items: center;
gap: 20px;
}

.waiting {
   display: flex;
   gap: 12px;
   align-items: center;
   padding: 12px 24px;
   border-radius: 40px;
border: 1px solid #F8744C;
background: radial-gradient(564.76% 161.32% at 18.65% 100%, #F8744C 0%, rgba(11, 20, 49, 0.00) 100%), rgba(255, 255, 255, 0.15);
box-shadow: 0px 2.155px 97.29px 0px #F8744C;
backdrop-filter: blur(25px);
}

.waiting p {
   color: #FFF;
font-family: "TT Firs Neue";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}




.none {
   display: none;
}

.input {
   color: #FFF;
   opacity: 0.5;
font-family: "TT Firs Neue Trl";
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
padding: 12px 24px;
width: 100%;
border-radius: 40px;
border: 1px solid rgba(255, 255, 255, 0.15);
background: rgba(115, 115, 115, 0.30);
box-shadow: 0px 0px 30px 0px rgba(50, 31, 13, 0.30);
backdrop-filter: blur(25px);
}

.input.error {
   border: 1px solid red;
   outline: none; 
}

.input::placeholder {
   color: #FFF;
   opacity: 0.5;
font-family: "TT Firs Neue Trl";
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.roadmap {
   padding-top: 122px;
   width: 70%;
}

.roadmap__title {
   color: #FFF;
text-align: center;
font-family: "TT Firs Neue";
font-size: 80px;
font-style: normal;
font-weight: 450;
line-height: 102.529%; /* 82.023px */
letter-spacing: -5.6px;
margin-bottom: 100px;
}


.roadmap__cards {
   display: flex;
   flex-direction: column;
   gap: 80px;
   width: 100%;
   position: relative;
}

.roadmap__card {
   padding: 20px;
   border-radius: 24px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: radial-gradient(106.46% 107.18% at 63.96% 155.77%, #DDCBFF 0%, rgba(11, 20, 49, 0.00) 100%), radial-gradient(75.71% 44.79% at 109.65% 49.74%, #F8744C 0%, rgba(11, 20, 49, 0.00) 100%), rgba(115, 115, 115, 0.30);
backdrop-filter: blur(25px);
}

.phase {
   display: inline-block;
   margin-bottom: 20px;
   color: #F8744C;
font-family: "TT Firs Neue";
font-size: 20px;
font-style: normal;
font-weight: 450;
line-height: normal;
padding: 12px 24px;
border-radius: 40px;
border: 1px solid #F8744C;
background: radial-gradient(384.32% 141.77% at -7.14% 163.08%, #F8744C 0%, rgba(11, 20, 49, 0.00) 100%), rgba(255, 255, 255, 0.15);
box-shadow: -2px 0px 6px 0px rgba(255, 255, 255, 0.20), 0px 2.155px 97.29px 0px rgba(248, 116, 76, 0.54);
backdrop-filter: blur(25px);
}

.roadmap__card_list {
   max-width: 412px;
}

.card__left {
   align-self: flex-start;
   position: relative;
}

.card__left::after {
   content: url('./image/right.svg');
   position: absolute;
   right: -20px;
   top: 50%;
   transform: translateY(-50%);
}

.card__right {
   align-self: flex-end ;
   position: relative;
}

.card__right::before {
   content: url('./image/left.svg');
   position: absolute;
   left: -20px;
   top: 50%;
   transform: translateY(-50%);
}

.roadmap__card_list li {
   color: #EFEFEF;
font-family: "TT Firs Neue";
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
opacity: 0.8;
position: relative;
padding-left: 10px;
}

.roadmap__card_list li::before {
   content: '';
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   width: 2px;
   height: 2px;
   background-color: #EFEFEF;
   border-radius: 50%;
}

.line {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: -60px;
}

#my-svg #line {
   fill: url(#paint0_linear_4_1051); /* Исходный градиент */
   transition: fill 0.3s ease; /* Плавный переход цвета */
 }
 
 #my-svg #line.active {
   fill: #F8744C; /* Цвет линии при скроллинге */
 }




.footer {
   display: flex;
   margin-top: 230px;
   padding: 32px 280px;
   border-top: 1.5px solid rgba(255, 255, 255, 0.15);
background: radial-gradient(196.64% 176.91% at 3.4% 221.55%, #F8744C 0%, rgba(11, 20, 49, 0.00) 100%), rgba(115, 115, 115, 0.30);
box-shadow: 0px 0px 30px 0px rgba(50, 31, 13, 0.30);
backdrop-filter: blur(25px);
justify-content: space-between;
}

.footer__left {
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.footer__left_text {
   color: #EFEFEF;
font-family: "TT Firs Neue";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.6;
}

.copyright {
   color: #EFEFEF;
font-family: "TT Firs Neue";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.footer__links {
   display: flex;
   gap: 80px;
}

.footer__links_left {
   flex-direction: column;
   display: flex;
   gap: 12px;
}

.footer__links_left a {
   color: #EFEFEF;
font-family: "TT Firs Neue";
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.footer__links_left a:not(:first-child) {

opacity: 0.6;
}






@media (max-width:1530px) {
   .lines__image {
      display: none;
   }
   .first-card, .third-card, .second-card {
      margin: 0;
   }
   .cards {
      margin-top: 100px;
   }
   .card {
      max-height: 405px;
   }
}

@media (max-width:1260px) {
   .cards {
      flex-direction: column;
   }
}

@media (max-width:1200px) {
   .footer {
      flex-direction: column;
      align-items: center;
      gap: 15px;
   }
   .footer__links {
      gap: 12px   ;
   }
   .title {
      width: 90vw;
   }
   .info__image {
      width: 40vw;
   }
   .cases__title {
      font-size: 48px;
      max-width: 400px;
   }
}







@media (max-width:700px) {
   .header {
      flex-direction: column;
      gap: 10px;
      align-items: center;
   }
   .chat__result {
      min-height: max-content;
   }
   .footer {
      padding: 32px;
      margin-top: 130px;
   }
   .analyzing {
      margin-left: 60px;
   }
   .launch {
      margin-top: 30px;
      margin-bottom: 15px;
   }
   .launch img {
      width: 250px;

   }
   .lower {
      width: 70px;
   }
   .card__right::before {
      display: none;
   }
   .card__left::after {
      display: none;
   }
   .roadmap__card {
      width: 100%;
   }
   .roadmap {
      width: 100%;
   }
   .form {
      flex-direction: column;
      gap: 10px;
   }
   .chat {
      padding: 15px;
   }
   .cases__top {
      flex-direction: column;
      align-items: center;
      gap: 10px;
   }
   .cases__right {
      align-items: center;
   }
   .use_cases {
      margin-top: 10px;
   }
   .roadmap {
      padding-top: 30px;
   }
   .try__title {
      font-size: 80px;
   }
   .try__vision {
      width: 200px;
   }
}

@media (max-width:550px) {
   .higher {
      width: 70px;
   }
   .info__text {
      font-size: 14px;
   }
   .launch {
      margin-top: 30px;
      margin-bottom: 15px;
   }
   .launch img {
      width: 180px;

   }
   .info {
      padding-top: 30px;
   }
   .roadmap__title {
      margin-bottom: 20px;
      font-size: 50px;
   }
   .form {
      padding: 10px;
   }
   .input {
      padding: 6px 12px;
   }
   .waiting {
      padding: 6px 12px;
   }
   .waiting p {
      font-size: 14px;
   }
   .cards {
      gap: 70px;
   }
   .card {
      padding: 20px;
      text-align: center;
   }
   .card__title {
      font-size: 20px;
   }
   .card__text {
      font-size: 14px;
   }
   .card__icon {
      width: 60px;
      top: -45px;
   }
   .cases__title {
      font-size: 32px;
      letter-spacing: 0.5px;
      text-align: center;
   }
   .vision {
      font-size: 20px;
   }
   .wrapper {
      min-height: 4300px;
   }
   .analyzing {
      margin-left: 40px;
   }
   .analyzing__text {
      font-size: 20px;
   }
}

@media (max-width:360px) {
   .roadmap__cards {
      gap: 30px;
   }
   .phase {
      padding: 6px 12px;
      font-size: 16px; 
   }
   .footer {
      margin-top: 80px;
   }
   .cards {
      margin-top: 70px;
   }
   .line {
      max-height: 1030px;
   }
   .wrapper {
      min-height: 3800px;
   }
   .analyzing {
      margin-left: 25px;
   }
}




[data-anim-on-scroll] {
  transition: all 0.4s ease 0s;
  opacity: 0;
}

[data-anim-on-scroll]._animate {
  opacity: 1;
}

._right_anim_tr {
  transform: translateX(200%);
}

._left_anim_tr {
  transform: translateX(-200%);
}

._right_anim_tr._animate,
._left_anim_tr._animate {
  transform: translateX(0%);
}


._bottom_anim_tr {
  transform: translateY(200%);
}

._top_anim_tr {
  transform: translateY(-200%);
}

._top_anim_tr._animate,
._bottom_anim_tr._animate {
  transform: translateY(0%);
}

._scale_anim {
  transform: scale(0);
}

._scale_anim._animate {
  transform: scale(1);
}

.anim {
  animation: anim 3s ease-in-out infinite;
}

@keyframes anim {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}



.loop-images .image {
  position: absolute;
  z-index: 1;
  bottom: -100%;
  animation: moveUp 6s linear infinite;
}

.loop-images .right .image {
  right: 0;
}

.loop-images .right .image-4 {
  right: -15%;
  left: auto;
}

@keyframes moveUp {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 100%;
  }
}

.loop-images .image-2 {
  animation-delay: 2s;
  animation: moveUp 7s linear infinite;
}

.loop-images .image-3 {
  animation-delay: 3s;
  animation: moveUp 9s linear infinite;
}

.loop-images .image-4 {
  animation-delay: 6s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-1 {
  animation-delay: 0s;
  animation: moveUp 7s linear infinite;
}

.loop-images .right .image-2 {
  animation-delay: 4s;
  animation: moveUp 9s linear infinite;
}

.loop-images .right .image-3 {
  animation-delay: 7s;
  animation: moveUp 12s linear infinite;
}

.loop-images .right .image-4 {
  animation-delay: 10s;
  animation: moveUp 8s linear infinite;
}

.card, .launch {
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-left {
   transform: translateX(-200%);
}

.card:hover {
   animation: none;
   transform: scale(1.05);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.card-right {
   transform: translateX(200%);
}

.card._animate, .roadmap__card._animate {
   transform: translateX(0%);
}

.card:hover, .roadmap__card:hover, .uniq:hover {
   transform: translateX(0%) scale(1.05);
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.uniq {
   transform: scale(0);
   opacity: 0;
   visibility: hidden; 
   transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.uniq._animate {
   transform: scale(1);
   opacity: 1; 
   visibility: visible;
}

.uniq:hover {
   transform: scale(1.05);
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}