@font-face {
    font-family: 'Modulord';
    src: url('ModulordRegular.woff2') format('woff2'),
        url('ModulordRegular.woff') format('woff'),
        url('ModulordRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

